.container {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  text-align: left;
}



.post-card p {
  font-size: 1em;
  color: #333;
}

.like-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.like-button.liked {
  background-color: #ff0000;
}